# pip package collection

pip install --upgrade pip
pip install numpy
pip install pandas
pip install matplotlib
pip install opencv
pip install tkinter
pip install sqlalchemy
pip install phonenumbers
pip install pytube
pip install pdf2docx
pip install camelot-py
pip install ghostscript
pip install pynput
pip install pyttsx3
pip install PyAudio
pip install aria2p
pip install db-sqlite3
